body{
    background-color: white;
    margin:1em auto;
    max-width:50em;
    padding:0 .62em;
    font:1em/1.4 sans-serif;
}
a:link {
    text-decoration: none;
} 
h1,h2,h3 {
    line-height:1.2;
}
img {
    max-width:100%;
}
footer {
    font-size: small;
}
.footer-left {
    width: 50%;
    float: left;
}
.footer-right{
    text-align: right;
}
.header-right {
    font-size: small;
    width: 10%;
    float: right;
    text-align: right;
}
.microlight {
    font-family : monospace;
    white-space : pre;
}
@media print{
    body{
        max-width:none
    }
}
